.header-area{
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../../Photo/stadium.jpg);
    height: 300px;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center right;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

}
.header-area h2{
    text-align:center;
    color: white;
    font-weight: 700;
    font-size: 40px;
}